{% extends "main.html" %} {% block content %}
<section class="doctors">
	<div class="container">
		<h2 class="doctors__title">Наши специалисты</h2>
		{% if doctors_list %}
		<div class="doctors__cards">
			{% for doctor in doctors_list %}
			<div class="card__item">
				<div class="card__img">
					<img
						src="{{ doctor.photo }}"
						alt="not added yet"
						width="200"
						height="200"
					/>
				</div>
				<h3 class="card__title">{{ doctor.name }} {{ doctor.surname }}</h3>
				<p class="card__text">{{ doctor.speciality }},</p>
				<p class="card__text">{{ doctor.description }}</p>
			</div>
			{% endfor %} {% endif %}
		</div>
	</div>
</section>
<!-- Footer Start -->
<footer class="footer">
	<div class="container container_footer">
		<div class="footer-wrap">
			<div class="footer__item">
				<h3 class="footer__title">Контактная информация</h3>
				<ul class="footer__list footer__list_contact">
					<li>
						<img src="/static/assets/email.svg" alt="" />
						<a href="mailto:beauty@clinic.com">beauty@clinic.com</a>
					</li>
					<li>
						<img src="/static/assets/call.svg" alt="" />
						<a href="tel:+13055551234">+1 (305) 555-1234</a>
					</li>
					<li>
						<img src="/static/assets/placeholder.svg" alt="" />
						<a href="https://goo.gl/maps/CCEo343jVtv7khq97"
							>123 Main Street, Miami, FL 33101, USA</a
						>
					</li>
				</ul>
			</div>
			<div class="footer__item">
				<h3 class="footer__title">Основные ссылки</h3>
				<ul class="footer__list footer__list_contact_arrow">
					<li>
						<a href="{% url 'home' %}">Главная</a>
					</li>
					<li>
						<a href="{% url 'doctors' %}">Наши специалисты</a>
					</li>
					<li>
						<a href="{% url 'services' %}">Наши услуги</a>
					</li>
				</ul>
			</div>
			<div class="footer__item">
				<h3 class="footer__title">Социальные сети</h3>
				<ul class="footer__list footer__list_contact_arrow">
					<li>
						<a href="https://vk.com">VK</a>
					</li>
					<li>
						<a href="https://instagram.com">Instagram</a>
					</li>
					<li>
						<a href="https://t.me">Telegram</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__line"></div>
		<a href="" class="footer__logo">
			<img src="/static/assets/logo.svg" alt="Beauty Salon" />
		</a>
		<p class="footer__text">Все права защищены.</p>
	</div>
</footer>
<!-- Footer End -->
{% endblock %}
